@model Dto.PlaylistDto

@{
    ViewBag.Title = @Model.Name;
}

<div>
    <h2>@Model.Name</h2>
    <h6><i class="icon-user"></i> @Model.UserId</h6>
    <h5> <strong>@Model.Tracks.Count()</strong> Tracks </h5>
</div>

<div class="btn-toolbar">
    <a class="btn btn-primary" href="@Url.Action("Index")">Back to List</a>
    <a id="savechanges" class="btn btn-success" href="#">Save Changes</a>
    <a class="btn btn-danger pull-right" href="#">Delete Playlist</a>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Track
                </th>
                <th>
                    Artist
                </th>
                @*<th>
            Album
        </th>*@
                <th>
                    Duration
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody id="sortable">
            @foreach (var track in Model.Tracks)
            {
                <tr id="@(track.Id)">
                    <td>
                        @Html.DisplayFor(model => track.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => track.Artist)
                    </td>
                    @* <td>
                          @Html.DisplayFor(model => track.Album)
                    </td>*@
                    <td>
                        @Html.DisplayFor(model => track.Duration)
                    </td>
                    <td>
                        <a class="icon-remove removetrack" href="#"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        var s = $('#sortable');
        s.sortable();
        s.disableSelection();
        $('#savechanges').click(function(e) {
            var sortedIds = s.sortable("toArray");
            var array = [];
            $.each(sortedIds,function(index, value) {
                array.push({ 'Id': value });
            });
            console.log(array);
            $.ajax({
                type: "POST",
                url: "@Url.Action("EditTracks")",
                data: JSON.stringify({
                    'id': '@Model.Id',
                    'userid': '@User.Identity.Name',
                    'Tracks': array
                }),
                contentType: 'application/json',
                traditional: true
            });
            e.preventDefault();
        });
        $('.removetrack').click(function(e) {

            $(this).closest('tr').remove();
            e.preventDefault();
        });

    });
</script>