@model UI.ViewModels.PlaylistViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Playlist.Name</h2>
<h3> @Model.Playlist.Description</h3>

@Html.ActionLink("Edit", "Edit")

<fieldset>
    <legend>Playlist</legend>

    <table>
           
        
        @foreach (SpotifyTrack track in Model.Tracks)
        {
            <tr>
                @Html.DisplayFor(model => track)
            </tr>
        }
        
    </table>


    
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>