@using Domain.Entities
@model UI.ViewModels.PlaylistViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

@* The idea is to have a save button and only have 1 http-post
inside the action for the post store everything right in the db
solution knockout.js lib
*@

@* Dar acesso á playlist a utilizadores *@
<p>
    @Html.ActionLink("Manage Permissions", "ManagePermissions")
</p>

@*Edita nome e desc*@
@Html.EditorFor(model => model.Playlist)

@*Default do Html.BeginForm é  POST*@


@*Delete da playlist*@
@using (Html.BeginForm("delete", "Playlist"))
{
    @Html.Hidden("playlistId", Model.Playlist.Id)
    <input type="submit" value="Delete"/>
}

@*Lista com musicas e butoes para Up Down e Delete*@
<table>

    @foreach (Track track in Model.Tracks)
    {
        <tr>
            @Html.DisplayFor(model => track)
        
            <td>
                @using (Html.BeginForm("trackUp", "Playlist"))
                {
                    @Html.Hidden("playlistId", Model.Playlist.Id)
                    @Html.Hidden("trackId", track.Id)
                    <input type="submit" value="Up"/>
                }
            </td>

            <td>
                @using (Html.BeginForm("trackDown", "Playlist"))
                {
                    @Html.Hidden("playlistId", Model.Playlist.Id)
                    @Html.Hidden("trackId", track.Id)
                    <input type="submit" value="Down"/>
                }
            </td>
            <td>
                @using (Html.BeginForm("deleteTrack", "Playlist"))
                {
                    @Html.Hidden("playlistId", Model.Playlist.Id)
                    @Html.Hidden("trackId", track.Id)
                    <input type="submit" value="Delete"/>
                }
            </td>
        

        </tr>
    }
    

</table>

<div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
