@using System.Web.Mvc.Html
@model UI.ViewModels.GetAllViewModel

@{
    ViewBag.Title = "Playlists";
}

<div>
    <h5>Playlists @Model.OwnPlaylists.Count() Shared @Model.SharedPlaylists.Count()</h5>
</div>

<div class="btn-toolbar">
    <a class = "btn btn-primary" href="@Url.Action("Create")">Create New</a>
    <a class="btn" href="@Url.Action("Share")">Share Playlists</a>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    # Tracks
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OwnPlaylists)
            {
                <tr>
                    <td>
                
                        @Html.ActionLink(
                            item.Name,
                            "Edit",
                            new {playlistId = item.Id}
                             )
                
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(dtos => item.TotalTracks)
                    </td>
                    
                </tr>
            }
            @foreach (var item in Model.SharedPlaylists)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Playlist.Name, "Edit", new {playlistId = item.PlaylistId})
                         <a href="@Url.Action("Profile","Account",new {id=item.OwnerId})">
                            <span class="label label-info">@item.OwnerId</span>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Playlist.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(dtos => item.Playlist.TotalTracks)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>