@model IEnumerable<Domain.Persistence.DataTables.PlaylistPermission>

@{
    ViewBag.Title = "Manage Permissions";
}

<h2>Manage Permissions</h2>

<h3>Add permission</h3>

@using (Html.BeginForm("AddPermission", "Playlist"))
{
    @*<input type="hidden" name="playlistId" value ="@ViewBag.PlaylistId"/>*@
    @:UserService: <input type="text" name="grantedUserService"/>
    @:Contribuidor: <input type="checkbox" name="contributor" value="true"/>

    <input type="submit" value="OK"/>
}

<h3> Remove permissions</h3>

<table>
    <tr>
        <td>
            Playlist
        </td>
        <td>
            UserService
        </td>
        <td></td>
    </tr>

    @foreach (PlaylistPermission permission in Model)
    {
        <tr>
            <td>
                @permission.Playlist.Name 
            </td>
            <td>
                @permission.GrantedUser.UserId
            </td>
            <td>     
                @using (Html.BeginForm("RemovePermission", "Playlist"))
                {
                    @Html.Hidden("grantedUserService", permission.GrantedUserId)
                    @Html.Hidden("playlistId", permission.PlaylistId)
                    <input type="submit" value="Remove"/>
                }
            </td>
        </tr>
    }
    

</table>