@using Domain.Entities
@model UI.ViewModels.PlaylistPermissionViewModel

@{
    ViewBag.Title = @Model.Permission.Playlist.Name;
}

<h2>@Model.Permission.Playlist.Name</h2>

<h3> @Model.Permission.Playlist.Description</h3>

@*if (@Model.Permission.Contributor){
        @Html.ActionLink("Edit", "PermittedPlayistEdit")
}+*@

<fieldset>
    <legend>Playlist</legend>

    <table>
           
        
            @foreach (Track track in Model.Tracks)
            {
                <tr>
                    @Html.DisplayFor(model => track)
                </tr>
            }
        
    </table>


    
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>