@model  UI.ViewModels.SearchResultsViewModel

@{
    ViewBag.Title = "Search results";
    const int pages = 7;
    var dropdownlist = User.Identity.IsAuthenticated? @Html.Action("GetPlaylistsForAddButton", "Playlist") : new MvcHtmlString("");
    var initPage = @Model.Page - (pages/2);
    initPage = initPage >= 1 ? initPage : 1;
}

<h3>Search results for "@Model.SearchTerm"</h3>

@*PAGINACAO*@

<div class="pagination pagination-centered">
    <ul>
        <li>@Html.ActionLink("«", "Index", new {q = @Model.SearchTerm, page = @Model.Page <= 1 ? 1 : @Model.Page - 1})</li>
        @for (var i = initPage; i <= @Model.Page + (pages/2) || i <= pages; ++i)
        {
            <li>@Html.ActionLink(i.ToString(), "Index", new {q = @Model.SearchTerm, page = i})</li>
        }
        <li>@Html.ActionLink("»", "Index", new {q = @Model.SearchTerm, page = @Model.Page + 1})</li>
    </ul>
</div>

<div class="well-small">
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    Artist
                </th>
                <th>
                    Name
                </th>
                <th>
                    Duration
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var track in Model.Tracks)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => track.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => track.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => track.Duration)
                    </td>
                    
                    
                    <td data-trackid="@track.Id">
                        <a class="icon-play spotify-play" href="#"></a>
                         @dropdownlist 
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
    
</div>

<div id="dialog"></div>

<script type="text/javascript">

    $(function() {
        initDialog("#dialog", ".spotify-play", 'td', '@Url.Action("Play","Playlist")');
        initAddToPlaylists(".dropdown-playlist", '@Url.Action("AddTrack","Playlist")');
    });

</script>