@model  UI.ViewModels.SearchResultsViewModel

@{
    ViewBag.Title = "Search results";
    const int pages = 7;
    var authenticated = User.Identity.IsAuthenticated;
}

<h3>Search results for "@Model.SearchTerm"</h3>

@*PAGINACAO*@

<div class="pagination pagination-centered">
    <ul>
        <li>@Html.ActionLink("«", "Index", new {q = @Model.SearchTerm, page = @Model.Page <= 1 ? 1 : @Model.Page - 1})</li>
        @for (var i = @Model.Page - (pages/2); i <= @Model.Page + (pages/2) || i <= pages; ++i)
        {
            if (i < 1){ i = 1;}
            
            <li>@Html.ActionLink(i.ToString(), "Index", new {q = @Model.SearchTerm, page = i})</li>
        }
        <li>@Html.ActionLink("»", "Index", new {q = @Model.SearchTerm, page = @Model.Page + 1})</li>
    </ul>
</div>


<div class="well-small">
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    Artist
                </th>
                <th>
                    Name
                </th>
                <th>
                    Duration
                </th>
                @if (authenticated)
                {
                    <th>
                        Add to playlist
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var track in Model.Tracks)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => track.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => track.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => track.Duration)
                    </td>
                    
                    
                        <td data-trackid="@track.Id">
                            <a class="icon-play spotify-play" href="#"></a>
                            @if (authenticated)
                            {
                                <div class="btn-group">
                                    <a class="btn btn-mini btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @foreach (var p in Model.Playlists)
                                        {
                                            <li>
                                                <a tabindex="-1" class="dropdown-playlist" data-playlistid ="@p.Id"  href="#">
                                                    @p.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </td>
                    
                </tr>
            }
        </tbody>
    </table>
    
</div>

<div id="dialog"></div>

<script type="text/javascript">
    
    $(function () {
        initDialog();
        $(".dropdown-playlist").click(function (e) {
            var playlistId = $(this).data("playlistid");
            var trackId = $(this).closest("td").data("trackid");
            $.post("@Url.Action("AddTrack", "Playlist")", { "playlistId": playlistId, "trackId": trackId });
            e.preventDefault();
        });

        

    });

</script>