@model IEnumerable<MembershipUser>

@{
    ViewBag.Title = "Admin Area";
}

<h2>Admin Area</h2>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    Login Name
                </td>
                <td>
                    Email
                </td>
                <td>
                    User since
                </td>
                <td>
                    Last login
                </td>
                <td>
                    Online 
                </td>
                <td>
                    Approved
                </td>
                <td>
                    Role
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr data-userid ="@user.UserName">
                    <td>
                        @Html.ActionLink(user.UserName, "Profile", new {id = user.UserName})
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.Email)
                    </td>
                    <td>
                        @user.CreationDate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @user.LastLoginDate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.IsOnline)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.IsApproved)
                    </td>
                    <td>
                        @Html.DropDownList("role", new SelectList(Roles.GetAllRoles()))
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success save-role" href="#"><i class="icon-ok"></i></a>
                            <a class="btn btn-danger remove-user" href="#"><i class="icon-remove"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('.remove-user').click(function () {
        var tr = $(this).closest('tr');
        var user = tr.data('userid');
        bootbox.confirm("Delete " + user + "? \n This action is irreversible!", function (result) {
            if (result) {
                $.post('@Url.Action("Remove")', { id: user });
                tr.remove();
            }
        });
        return false;
    });

    $('.save-role').click(function() {
        var user = $(this).closest('tr').data('userid');
        var roleVal = $(this).closest('td').prev().children('select').val();
        $.post('@Url.Action("EditRole")', { id: user, role: roleVal });
        return false;
    });

</script>