@model Dto.UserProfileDto

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>


@if (Model.UserId == User.Identity.Name)
{
    <p>
        <a class="btn btn-small" href="@Url.Action("Settings")"><i class="icon-pencil"></i> Edit Profile</a>
        @if (User.IsInRole("admin"))
        {
            <a class="btn btn-small" href="@Url.Action("AdminArea")">Admin Area</a>
        }
    </p>
}


<div class="clearfix">
    <img class="pull-left img-rounded" src="@Model.PhotoLocation" width="150" height="200"/>
    <p><strong>Nickname: </strong>@Model.UserId</p>
    <p><strong>Playlists: </strong>@Model.TotalPlaylists</p>
    <p><strong>Email: </strong>@Model.Email</p>
</div>