@model Dto.UserProfileDto

@{
    ViewBag.Title = "Edit profile";
}



<h2>Edit Profile @Html.ActionLink("View Profile", "Profile", null, new {@class = "btn btn-mini"})</h2>


<div class="pull-right">
   
    <form id="deleteform" method="POST" action="@Url.Action("RemoveBySelf")">
         <a class="btn btn-warning" href="@Url.Action("ChangePassword")"> Change Password</a>
        <input class="btn btn-danger" type="submit" value="Delete Account"/>
    </form>
</div>

<form class="form-horizontal" action="@Url.Action("Settings")" method="POST" enctype="multipart/form-data">
    <div>
        @Html.HiddenFor(m => m.UserId)
        <div class="control-group">
            <p><strong>Photo</strong></p>
            <img class="pull-left img-rounded" src="@Model.PhotoLocation" width="150" height="200"/>
            <p>Choose new photo</p>
            <input type="file" id="photo" name="photo"/>
            <input type="hidden" name="PhotoLocation" value="@Model.PhotoLocation"/>
        </div>
        <div class="control-group">
            <p><strong>Name</strong></p>
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="control-group">
            <button type="submit" class="btn btn-success">Save changes</button>
        </div>
    </div>
</form>

<script type="text/javascript">

    $('#deleteform').submit(function(e) {
        var form = this;
        bootbox.confirm("Delete account?\n This action is irreversible!", function(result) {
            if (result)
                form.submit();
        });
        return false;
    });

</script>